/* General setup */
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #dde;
}

body {
    width: 80%;
    min-width: 1024px;
    margin: 0 auto;
    background-color: #dde;
}

h1 {
    font-family: 'Sonsie One', cursive;
    color: #fff;
    text-align: center;
    font-size: 5em;
    text-shadow: 3px 3px 3px black;
}

h2, h3 {
    font-family: 'Sonsie One', cursive;
    font-size: 3.5em;
    color: black;
}
    
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5em;
    color: #333;
}
    
li, dt, dd {
    font-size: 2em;
}
    
a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0000EE;
}

.header {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: transparent;
}

.nav-banner {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 2rem;
    background-color: #fff; 
}

.nav {
    background-color: #fff;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.search {
    margin-left: auto;
}

.search input[type="search"] {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.article-content {
    flex: 2;
    margin-right: 2rem;
}

.secondary {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    font-size: 1.8em;
    border: 2px solid black;
    border-collapse: collapse;
}

caption {
    font-size: 1.4em;
    font-weight: bold;
}

th {
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.comments {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form {
    margin-bottom: 2rem;
}

.comment-form .flex-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.comment-form label {
    font-size: 1.8rem;
}

.comment-form input[type="text"] {
    font-size: 1.8rem;
    flex: 1;
    margin-left: 1rem;
}

.comment-container {
    list-style-type: none;
    padding: 0;
}

.comment-container li {
    margin-bottom: 2rem;
}

.comment-container li p {
    margin: 0;
    font-size: 2rem;
}

.about-author {
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
